/* styles/Quiz.module.css */
.quizContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-evenly; */
	height: calc(100vh - 8.5rem);
	background-color: lightcoral;
}

.textCenter {
	text-align: center;
	/* align-self: ; */
}

.title {
	font-size: 3rem;
}

.titleSpacing {
	margin: 2rem 0;
}

.questionSection {
	margin-bottom: 20px;
}

.questionCount {
	/* margin-bottom: 10px; */
	font-size: 18px;
}

.questionText {
	margin-bottom: 20px;
	font-size: 24px;
}

.answerSection {
	display: flex;
	flex-direction: column;
}

.answerButton {
	margin: 5px 0;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
}

.scoreSection {
	font-size: 24px;
}
